@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import 'bookingFlowSteps.css';
@import 'loading.css';


/* WebpackTemplate color scheme */
:root {
  --primary: rgb(60, 104, 180);
  --primary-dark: rgb(22 63 134);
}

body {
  font-family: 'Poppins', serif;
}
